{% extends "base.html" %}

{%block content%}
<div class="col-md-12">
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>СОТРУДНИК</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ФОТО:</label>
            <div class="col-sm-4">
                <img src="{{ user.image.url }}" height="200">

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ИМЯ:</label>
            <div class="col-sm-4">
                {{ user.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ПОЗИЦИЯ:</label>
            <div class="col-sm-4">
                {{ user.position.title }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
                {{ user.email }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">КОНТАКТЫ:</label>
            <div class="col-sm-4">
                {{ user.phone }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">СТЕК ТЕХНОЛОГИЙ:</label>
            <div class="col-sm-4">
                {{ user.steck }}
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
            <th>ДАТА</th>
            <th>ПОСЕТИЛ(А)</th>
            <th>ВРЕМЯ ПРИХОДА</th>
            <th>ВРЕМЯ УХОДА</th>
            <th>ПРИЧИНА</th>
            </thead>
            <tbody>
            {% for visit in visits %}
            <tr>

                <td>{{ visit.date }}</td>
                {% if visit.visited == True %}
                <td>Поcетил(а)</td>
                {% else %}
                <td>Отсутствовал(а)</td>
                {% endif %}
                {% if visit.time_start %}
                <td>{{ visit.time_start }}</td>
                {% else %}
                <td>----</td>
                {% endif %}
                {% if visit.time_end %}
                <td>{{ visit.time_end }}</td>
                {% else %}
                <td>----</td>
                {% endif %}
                {% if visit.reason %}
                <td>{{ visit.reason }}</td>
                {% else %}
                <td>----</td>
                {% endif %}
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock content%}